.card {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px black(0, 0, 0, 0.3);
  background-color: white;
  height: 150px;
  width: 150px;
  margin: auto auto 1% auto;
  text-transform: capitalize;
  font-size: xx-large;
}

.text {
}
.flags {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.page {
  margin-top: auto;
  background-color: #c8d0d2;
  text-align: center;
}

.button-correct {
  background: #a7e263;
  border: 1px solid #6ea94e;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-correct:hover,
.button-correct:active {
  background-color: initial;
  background-position: 0 0;
  color: #26c720;
}
.button-correct:active {
  opacity: 0.5;
}
.button-wrong {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-wrong:hover,
.button-wrong:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}
.button-wrong:active {
  opacity: 0.5;
}

.button-24 {
  background: #060606;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #bf7fc0;
}
.button-24:active {
  opacity: 0.5;
}
