body {
  background-color: rgb(249, 221, 221);
  text-align: center;
}
.wholePage {
  display: block;
  margin-top: auto;
}

.testCount {
  text-align: center;
}
.buttons {
  border: black solid 10;
}

table,
th,
tr,
td {
  border: 1px black solid;
  justify-content: center;
  margin: auto auto auto auto;
  border-collapse: collapse;
}

th {
  width: 300px;
}

input {
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  height: 10px;
  box-shadow: 2px 2px;
}

.button-33 {
  background-color: #eda6a6;
  border-radius: 100px;
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.leaderboard-button-33 {
  background-color: #eda6a6;
  border-radius: 100px;
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 125px;
}

.leaderboard-button-33:hover {
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.leaderboard-finalpage-button-33 {
  background-color: #eda6a6;
  border-radius: 100px;
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  margin: auto auto auto auto;
}

.leaderboard-finalpage-button-33:hover {
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.home-button-33 {
  background-color: #eda6a6;
  border-radius: 100px;
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  left: 30px;
}

.home-button-33:hover {
  box-shadow: rgba(205, 162, 162, 0.959) 0 -25px 18px -14px inset,
    rgba(186, 151, 151, 0.959) 0 1px 2px, rgba(200, 150, 150, 0.959) 0 2px 4px,
    rgba(227, 165, 165, 0.983) 0 4px 8px, rgba(204, 149, 149, 0.959) 0 8px 16px,
    rgba(212, 160, 160, 0.959) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.card {
  position: absolute;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px black(0, 0, 0, 0.3);
  background-color: white;
  height: 150px;
  width: 150px;
  margin: auto auto 1% auto;
  text-transform: capitalize;
  font-size: xx-large;
}

.flags {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button-correct {
  background: #a7e263;
  border: 1px solid #6ea94e;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-correct:hover,
.button-correct:active {
  background-color: initial;
  background-position: 0 0;
  color: #26c720;
}
.button-correct:active {
  opacity: 0.5;
}
.button-wrong {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-wrong:hover,
.button-wrong:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}
.button-wrong:active {
  opacity: 0.5;
}

.button-24 {
  background: #060606;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}
.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #bf7fc0;
}
.button-24:active {
  opacity: 0.5;
}
