.wholePage {
  text-align: center;
  font: 100;
  display: block;
}

.testCount {
  text-align: center;
}
.buttons {
  border: black solid 10;
}

table,
th,
tr,
td {
  border: 1px black solid;
  justify-content: center;
  margin: auto auto auto auto;
}
